body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  width: 100vw;
  height: 100vh;
  background-color: #f8d1e4ff;
  overflow: hidden;
  margin: 0;
}

canvas {
  background-color: #2d1414;
  display: block;
}
